@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  user-select: none;

  font-family: "Poppins", sans-serif;
}
.column {
  background: yellowgreen;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.column h2 {
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  transition: background 0.4s;
}
.column h2:hover {
  background: #08080838;

  cursor: pointer;
}
.column button {
  outline: none;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background: transparent;
  transition: background 0.4s;
  font-size: 1.5rem;
  color: #fff;
}
.column button:hover {
  background: #08080838;
  cursor: pointer;
}
